<div class="l-help-page">
<!--  <h2>Про велич нації і її моральний прогрес можна судити по тому, як вона поводиться з тваринами. (c) Ганді</h2>-->
  <div class="l-help-page__info">
    <h2>Ваш внесок важливий</h2>
    <p>Щодня на утримання котів та собак необхідно близько 400 грн, не враховуючи коштів на лікування та на інші потреби. Міні-притулок Юрія Микитюка має сторінку у Facebook, де пан Юрій звітує про кожну витрачену гривню та з радістю долучається до допомоги іншим тваринкам.</p>
  </div>
</div>
