.help-page {
  display: flex;
  flex-direction: column;
  &__info {
    &-left,
    &-right {
      padding: 30px;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      &-left,
      &-right {
        padding: 10px;
      }
    }
  }
  &__needs {
    display: flex;
    flex-direction: column;
    &-list {
      display: flex;
      @media (max-width: 767px) {
        flex-direction: column;
      }
      &-column {
        margin: 0 5px;
        > h3 {
          text-align: center;
        }
      }
    }
  }
}
