<div class="help-page">
<!--  <h2>Про велич нації і її моральний прогрес можна судити по тому, як вона поводиться з тваринами. (c) Ганді</h2>-->


  <!--  TODO-->
  <!--  https://www.animalhouseshelter.com/wish-list/-->

  <div class="help-page__info l-max-container flex">
    <div class="help-page__info-left">
      <h2 class="decoration-underline">Ваш внесок важливий</h2>
      <h3>Юрій і всі тварини цінують кожну пожертву!</h3>
    </div>
    <div class="help-page__info-right">
      <p>
        Щодня на утримання котів та собак необхідно близько 400 грн, не враховуючи коштів на лікування та на інші потреби.
        <br> Міні-притулок Юрія Микитюка має сторінку у
        <a class="important-text" href="https://www.facebook.com/mini.prylulok.yuriya.mykytiuka/"
           target=”_blank”>Facebook</a>, де пан Юрій звітує про кожну витрачену гривню та з радістю долучається до допомоги іншим тваринкам.</p>
<!--      <p>Притулок приймає всі види продуктів тваринного походження, але Юрій намагається, щоб тварини харчувалися одним і тим же типом їжі, щоб вони не захворіли від зміни. Він також приймає інші види їжі як запасні.</p>-->
      <p>Якщо маєте можливість нас підтримати фінансово: ️5168 7573 7880 9083. </p>
      <p>Є можливість також передати корм новою поштою: відділення номер 1, село Солонка Львівська область.</p>
      <p>Якщо хочете нас навідати чи щось передати нашим підопічним - телефонуйте Юрі +380 (97) 221 75 93 <br>
        Юра і наші хвостики завжди раді гостям 🤗</p>
    </div>
  </div>

  <div class="help-page__needs l-max-container">
    <h2 class="text-center">Речі, необхідні для догляду за кішками та собаками та кошенятами, які живуть у притулку</h2>
    <h4 class="text-center">Будь ласка, зверніть увагу, що будь-які пункти нижче, позначені двома зірочками (**) і виділені жирним шрифтом, – це те, що нам вкрай необхідно.</h4>
    <div class="help-page__needs-list">
<!--      TODO: список доповнити і дорозпитати в пана Юрія-->
      <div class="help-page__needs-list-column">
        <h3>Продукти харчування:</h3>
        <ul>
          <li>Сухий та вологий корм для котів та собак <br>(Whiskas, Purina, Friskies, Клуб 4 лапи, Royal Canin) **</li>
          <li>М'ясні відходи, курячі голови</li>
          <li>Вологий корм для кошенят та старих беззубих котів</li>
          <li>Лікувальний корм для котів з нирковими захворюваннями</li>
        </ul>
      </div>
      <div class="help-page__needs-list-column">
        <h3>Догляд і здоров'я:</h3>
        <ul>
          <li>Гамавіт та вітаміни Б12</li>
          <li>Таблетки від паразитів (Simparica, Nexgard, Bravecto)</li>
          <li>Спреї від бліх</li>
          <li>Чемі-спрей</li>
          <li>Таблетки Римадил</li>
          <li>Шприци</li>
          <li>Нашийники/повідці (усі розміри)</li>
          <li>Іграшки для кішок/собачок</li>
          <li>Миски</li>
          <li>Жувальні кістки - ласощі(сира шкіра, пресовані сухожилля)</li>
          <li>Обігрівачі</li>
        </ul>
      </div>
      <div class="help-page__needs-list-column">
        <h3>Засоби для чищення/догляд за притулком:</h3>
        <ul>
          <li>Мішки для сміття</li>
          <li>Туалетний папір, серветки</li>
          <li>Миючі засоби для підлоги</li>
          <li>Відбілююче мило</li>
          <li>Дезинфікучий засіб Екоцид</li>
          <li>Одноразові рукавички</li>
        </ul>
      </div>
    </div>
  </div>
<!--  https://www.instagram.com/p/CNmCHodr5bA/-->

  <div>
    <h2 class="text-center">Окрема подяка нашим волонтерам та відвідувачам!</h2>
    <app-image-gallery [images]="thanksImages"></app-image-gallery>
  </div>
</div>
