<footer class="l-footer">
  <div class="l-max-container">
    <div class="flex l-space-b l-align-c">
      <div class="l-footer__info">
        <p>
          <span>Бажаєте підтримати нас фінансово: </span><br>
          <span class="important-text">5168 7573 7880 9083</span>
        </p>
        <p>
          <span>Бажаєте передати корм або інші необхідні нам речі:</span><br>
          <span class="important-text">Відділення нової пошти номер 1, село Солонка, Львівська область</span>
        </p>
        <p>
          <span>Хочете нас навідати - телефонуйте Юрі</span>
          <br><span class="important-text"> +380 (97) 221 75 93</span>
        </p>
      </div>
    </div>
    <div class="l-footer__rights flex l-space-b l-align-c">
      <div>Всі права захищено</div>
      <div>Розроблено: <a href="https://github.com/kategrytsenko" target="_blank">aktinijal</a></div>
    </div>
  </div>
</footer>
