<header class="l-header">
  <div class="l-header__inner-container l-max-container flex l-space-b l-align-c">
    <div><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></div>
    <div class="l-header__contacts flex">
      <a class="l-header__contacts-link" href=""><mat-icon>call</mat-icon> +38 093 25 19 640</a>
      <a class="l-header__contacts-link" href=""><mat-icon>email</mat-icon></a>
      <a class="l-header__contacts-link l-fa-link" href=""><mat-icon fontSet="fab" fontIcon="fa-facebook"></mat-icon></a>
      <button class="l-header__contacts-button" mat-raised-button color="primary">DONATE</button>
    </div>
  </div>
</header>
