<header class="l-header">
  <div class="l-header__inner-container l-max-container flex l-space-b l-align-c">
    <div>
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </div>
    <div class="l-header__nav flex">
      <a *ngFor="let link of links"
         routerLink="{{link.route}}"
         (click)="activeLink = link.route"
         class="l-header__nav-link"
         [ngClass]="{'active': activeLink === link.route}">{{link.title}}</a>
      <a class="l-header__nav-link" href="">
        <mat-icon>call</mat-icon>
        +38 093 25 19 640</a>
<!--      <a class="l-header__nav-link" href="">-->
<!--        <mat-icon>email</mat-icon>-->
<!--      </a>-->
      <a class="l-header__nav-link l-fa-link" href="https://www.facebook.com/mini.prylulok.yuriya.mykytiuka/"
         target=”_blank”>
        <mat-icon fontSet="fab" fontIcon="fa-facebook"></mat-icon>
      </a>
      <button class="l-header__contacts-button" mat-raised-button color="primary">DONATE</button>
    </div>
  </div>
</header>
