@import "vars";

$header-height: 80px;
$section-bottom-margin: 40px;

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
  background: $background-light-color;
  &__inner-container {
    height: $header-height;
  }
  &__nav {
    &-link {
      display: flex;
      align-items: center;
      margin: 0 10px;
      &.l-fa-link {
        font-size: 18px;
      }
      &.active {
        color: $color-primary;
      }
    }
    .l-header__contacts-button {
      margin-left: 10px;
    }
  }
}

.l-main {
  margin-top: $header-height;
  .l-main-nav {
    .mat-tab-link {
      font-size: 18px;
      &.mat-tab-label-active {
        color: $color-primary;
        opacity: 1;
      }
    }
  }
}

.l-main-page {
  &__banner {
    width: 100%;
    margin-bottom: $section-bottom-margin;
    padding: 20px 0;
    //background: $color-primary;
    //background: $color-accent;
    //background: $background-light-color;
    background: lighten($color-primary, 20%);
    &-info {
      margin-top: 50px;
    }
    &-inner {
      display: flex;
      justify-content: space-around;
      height: 500px;
    }
    &-img-wrapper {
      img {
        max-height: 100%;
      }
    }
  }
}

.l-about-us {
  display: flex;
  margin-bottom: $section-bottom-margin;
}

.l-info-block {
  padding: 40px;
}

.l-footer {
  width: 100%;
  background: $background-dark-color;
  color: $text-light-color;
  a {
    color: $text-light-color;
  }
}

.l-max-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
}

.l-space-b {
  justify-content: space-between;
}

.l-align-c {
  align-items: center;
}
