@import "vars";

.l-main {
  margin-top: $header-height;
  @media (max-width: 767px) {
    margin-top: $header-height--mobile;
  }
  .l-main-nav {
    .mat-tab-link {
      font-size: 18px;
      &.mat-tab-label-active {
        color: $color-primary;
        opacity: 1;
      }
    }
  }
}

.l-main-page {
  &__banner {
    width: 100%;
    //margin-bottom: $section-bottom-margin;
    //padding: 20px 0;
    //background: $color-primary;
    //background: $color-accent;
    //background: $background-light-color;
    //background: lighten($color-primary, 20%);
    &-info {
      margin-top: 50px;
    }
    &-inner {
      display: flex;
      justify-content: space-around;
      height: 500px;
      @media (max-width: 1024px) {
        //flex-direction: column;
        //justify-content: flex-start;
        height: auto;
        align-items: center;
      }
    }
    &-img-wrapper {
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}

.l-about-us {
  display: flex;
  margin-bottom: $section-bottom-margin;
  @media (max-width: 1024px) {
    flex-direction: column-reverse;
    align-items: center;
  }
  &__info {
    padding-left: 40px;
  }
}

.l-animals {
  //display: flex;
  //justify-content: space-between;
  &__gallery {
    //width: 40%;
  }
}

.l-max-container {
  max-width: 1440px;
  margin-right: 40px;
  margin-left: 40px;
  padding: 0 20px;
  @media (max-width: 1024px) {
    margin-right: 20px;
    margin-left: 20px;
  }
  @media (max-width: 767px) {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.flex {
  display: flex;
}

.l-space-b {
  justify-content: space-between;
}

.l-align-c {
  align-items: center;
}
