$white: #ffffff;

$color-primary: #ffb64d;
//$color-accent: #3b71a6;
$color-accent: #ff874d;
$text-color: #000000;
$text-light-color: #e5e5e5;

$background-light-color: $white;
$background-dark-color: #4A4A4A;
