<div class="l-main-page">
  <div class="l-main-page__banner">
    <div class="l-main-page__banner-inner l-max-container">
      <div class="l-main-page__banner-info">
<!--        TODO: make bolder-->
        <h1>Міні-притулок <br> Юрія Микитюка</h1>
        <p> - місце прихисту бездомних котів і собак</p>
      </div>
      <div class="l-main-page__banner-img-wrapper"><img src="../../../assets/banner-img1.svg" alt=""></div>
    </div>
  </div>
  <div class="l-about-us l-max-container">
    <div>
      <iframe width="560" height="315" [src]='safeURL1' frameborder="0" allowfullscreen></iframe>
<!--      <iframe width="560" height="315" [src]='safeURL2' frameborder="0" allowfullscreen></iframe>-->
    </div>
    <div class="l-about-us__info">
      <h2>Про нас</h2>
      <p>У 2007 році Юрій Микитюк продав квартиру, а на виручені кошти побудував притулок для котів та собак у Солонці. Притулок утримується виключно за його кошти та допомогу небайдужих і волонтерів. Наразі у воль'єрах знаходиться 41 кіт та 21 собака, однак коштів на поточне утримання, годівлю та лікування не вистачає.</p>
      <p>Пан Юрій, окрім щоденного догляду за тваринами, також займається й громадською діяльністю, зокрема за його сприяння Львівська міська рада у 2014 році винесла ухвалу № 3714 "Про заходи захисту котів від жорстокого поводження у м. Львові".</p>
    </div>
  </div>
  <div class="l-animals l-max-container">
    <h2 class="text-center">Наші мешканці</h2>
    <div class="l-animals__gallery">
      <app-image-gallery [images]="animalsImages"></app-image-gallery>
    </div>
  </div>
</div>
